

body {
	background-color: lightblue;
}

h1 {
	color: navy;
	font-family: verdana;
	margin-left: 10px;
}

h2 {
	color: white;
	font-family: verdana;
	
}
  
h3 {
	color: gray;
	font-family: verdana;
  
}